if SHIELD_ARROUNDFORTY_RB_R

config ZMK_KEYBOARD_NAME
    default "AroundForty-RB_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ARROUNDFORTY_RB_L

config ZMK_KEYBOARD_NAME
    default "AroundForty-RB_L"

config ZMK_SPLIT
    default y

endif
